*{
    padding: 10px;
    list-style: none;

}

header h1{
    display: block;
    background: teal;
}

img{
    max-width: 100%;
    vertical-align: top;
}

img#responsive{
    display: none;
}

@media screen and (max-width :768px){
    img#responsive{
        display: block ;
    }
}